<!-- Start: Right Sidebar -->
<aside id="sidebar_right" class="nano affix">

    <!-- Start: Sidebar Right Content -->
    <div class="sidebar-right-content nano-content">

        <div class="tab-block sidebar-block br-n mt70">
            <a href="#">
                <i class="fa fa-sign-in pl10 mb20 fs22 text-primary tooltipster" title="方法"></i>
            </a>
            <a href="#">
                <i class="fa fa-sign-in fs22 pl10 mb20 text-primary tooltipster" title="检材"></i>
            </a>
            <a href="#">
                <i class="fa fa-sign-in fs22 pl10 mb20 text-primary tooltipster" title="仪器"></i>
            </a>
        </div>


    </div>
</aside>
<!-- End: Right Sidebar -->
<div class="container">
    <div class="row ">
        <div class="col-xs-12">
            <h3 class="pb10 br-b br-primary bw2">检验记录预览
            <span class="ml10 fs12 text-muted">鞋印形象特征鉴定记录表</span></h3>
        </div>
    </div>

    <div class="docs-container mt20" id="docs">

        <div class="row table-layout">

            <!-- Documentation Nav -->
            <div class="col-xs-3 left-col">

                <span id="left-col-toggle" class="fa fa-navicon" ng-click="examinerecord.toggleDocMenu()"></span>


                <div class="panel mt30" id="inspection">
                    <div class="panel-heading">
                        <span class="panel-title">检验记录</span>
                    </div>
                    <div class="panel-body">
                        <div class="list-group mbn">
                            <a href="#" class="list-group-item">
                                <span class="list-group-item-heading fs14">物证比对检验记录</span>
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="list-group-item-heading fs14">手印显现原始记录表</span>
                            </a>
                            <a href="#" class="list-group-item active">
                                <span class="list-group-item-heading fs14">鞋印形象特征鉴定记录表</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Documentation Content -->
            <div class="col-xs-9 center-col va-t">

                <div class="panel">
                    <div class="panel-heading">
                        <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                            <li class="active">
                                <a href="#tab2_3" data-toggle="tab" aria-expanded="false">检验记录</a>
                            </li>

                            <li class="">
                                <a href="#tab2_3" data-toggle="tab" aria-expanded="false">鉴定委托书</a>
                            </li>

                            <li class="">
                                <a href="#tab2_3" data-toggle="tab" aria-expanded="false">鉴定受理登记表</a>
                            </li>

                            <li class="">
                                <a href="#tab2_3" data-toggle="tab" aria-expanded="false">受理信息</a>
                            </li>

                             <li class="">
                                <a href="#tab2_3" data-toggle="tab" aria-expanded="false">案件信息</a>
                            </li>

                            <li class="">
                                <a href="#tab2_3" data-toggle="tab" aria-expanded="false">检材样本信息</a>
                            </li>

                            <li class="">
                                <a href="#tab2_3" data-toggle="tab" aria-expanded="false">留痕</a>
                            </li>

                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content pn br-n">
                            <div id="tab2_1" class="tab-pane active">

                                    <!-- GENERAL -->
                                    <iframe style="width:100%;height:1350px;" class="br-n" src="http://hisign.hezetech.cn:8080/Samples/SimpleWord/Word.jsp?fileName=jyjl" ></iframe>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>