<div
        class="entrust-form-container"
        id="entrust_container"
>
    <ng-include src="'/templates/apps/entrust/institution.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/entrust.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/case.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/member.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/evidence.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/submit.html'"></ng-include>
</div>

<ng-include src="'/templates/apps/entrust/sidebar.html'"></ng-include>

