<div id="panel_institution"></div>
<div class="panel panel-default"
     ng-controller="InstitutionInfoController as institutionInfo"
>
    <div class="panel-body">
        <div class="fs18 text-dark-darker fw600 pb20">鉴定机构信息</div>
        <div
                class="col-sm-3 pln"
                data-code="{{ins.orgCode}}"
                ng-if="!institutionInfo.dcService.isAppend"
                ng-repeat="ins in institutionInfo.institutionData"
                ng-click="institutionInfo.setInstitutionInfo($event, ins.orgCode, ins.name)"
        >
            <a
                    class="holder-style p15 tc"
                    data-steps-style="steps-left"
                    ng-class="{true:'holder-active '}[ins.orgCode === institutionInfo.dcService.submission.serverCode]"
            >
                <span class="fa fa-bank holder-icon"></span>
                <br /> {{ins.name}}
            </a>
        </div>

        <div class="form-inline" ng-if="institutionInfo.dcService.isAppend">
            <div class="form-group col-sm-12 pln form-icon-suffix">
                <label for="">鉴定机构：</label>
                <div class="input-wrapper">
                    <p class="form-control-static">{{institutionInfo.dcService.submission.serverName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

