<div class="admin-form theme-primary ">

    <div class="panel heading-border panel-primary">
        <div class="panel-body bg-light">

            <div class="section-divider mb40">
                <span>跨级审批</span>
            </div>
            <!-- .section-divider -->

            <div class="row ph50">

                <table class="table br-a br-greyer">
                    <thead class="invisible">
                    <th style="width: 2%"  class="br-b br-greyer"></th>
                    <th style="width: 16%" class="br-b br-greyer"></th>
                    <th style="width: 10%" class="br-b br-greyer"></th>
                    <th style="width: 10%" class="br-b br-greyer"></th>
                    <th style="width: 12%" class="br-b br-greyer"></th>
                    <th style="width: 10%" class="br-b br-greyer"></th>
                    <th style="width: 10%" class="br-b br-greyer"></th>
                    <th style="width: 15%" class="br-b br-greyer"></th>
                    <th style="width: 15%" class="br-b br-greyer"></th>
                    </thead>

                    <tbody>
                    <tr class="br-greyer">
                        <td colspan="9" class="br-greyer">鉴定机构信息</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-b br-greyer">鉴定机构</td>
                        <td colspan="7" class="br-b br-greyer">福建省公安厅物证鉴定中心</td>
                    </tr>
                    <tr>
                        <td colspan="9">鉴定机构信息</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-greyer">专业</td>
                        <td colspan="3" class="br-r br-greyer"></td>
                        <td class="br-r br-t br-greyer">鉴定类别</td>
                        <td colspan="3" class="br-b br-greyer"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-greyer">委托时间</td>
                        <td colspan="3" class="br-r br-greyer">2016-05-11</td>
                        <td class="br-r br-greyer">委托理由</td>
                        <td colspan="3">原鉴定结论与案情不符</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="br-r br-greyer">委托单位</td>
                        <td class="br-r br-greyer">名称</td>
                        <td colspan="7" class="br-r br-greyer">罗定市公安局禁毒大队</td>

                    </tr>
                    <tr>

                        <td class="br-r br-greyer">电话</td>
                        <td colspan="2" class="br-r br-greyer">（0531）12345678</td>
                        <td class="br-r br-greyer">传真</td>
                        <td colspan="2" class="br-r br-greyer">（0531）12345678</td>
                        <td class="br-r br-greyer">邮编</td>
                        <td>261001</td>
                    </tr>
                    <tr>

                        <td class="br-r br-greyer">地址</td>
                        <td colspan="7" class="br-r br-greyer">山东省潍坊市XX区XXX派出所</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="br-r br-greyer">送检人</td>
                        <td class="br-r br-greyer">姓名</td>
                        <td class="br-r br-greyer">张广清</td>
                        <td class="br-r br-greyer">联系方式</td>
                        <td class="br-r br-greyer">07663727459</td>
                        <td class="br-r br-greyer">职务</td>
                        <td class="br-r br-greyer">副大队长</td>
                        <td class="br-r br-greyer">证件类型及号码</td>
                        <td class="br-r br-greyer">警官证  272548</td>
                    </tr>
                    <tr>

                        <td class="br-r br-greyer">姓名</td>
                        <td class="br-r br-b br-greyer">李树科</td>
                        <td class="br-r br-b br-greyer">联系方式</td>
                        <td class="br-r br-b br-greyer">07663727459</td>
                        <td class="br-r br-b br-greyer">职务</td>
                        <td class="br-r br-b br-greyer">科员</td>
                        <td class="br-r br-b br-greyer">证件类型及号码</td>
                        <td class="br-r br-b br-greyer">警官证  272109</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-greyer">委托方对鉴定方法的要求</td>
                        <td colspan="7">委托方同意按照福建省公安厅物证鉴定中心相关技术规范进行检验鉴定</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-greyer">鉴定文书发出形式</td>
                        <td colspan="3" class="br-r br-greyer">凭回执领取</td>
                        <td colspan="2" class="br-r br-greyer">剩余检材处理意见</td>
                        <td colspan="2" class="br-b br-greyer">由鉴定机构保存3个月后销毁</td>
                    </tr>
                    <tr>
                        <td rowspan="3" colspan="2" class="br-r br-b br-greyer">原鉴定情况</td>
                        <td class="br-r br-b br-greyer">鉴定机构名称</td>
                        <td colspan="2" class="br-r br-b br-greyer">山东省潍坊市公安司法鉴定中心</td>
                        <td colspan="2" class="br-r br-b br-greyer">检验鉴定时间</td>
                        <td colspan="2" class="br-b br-greyer">2016-05-10</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            市 (已检验)  检验人：金培海、伍海亮，检验时间：3月22日，鉴定报告详见附件。
                        </td>

                    </tr>
                    <tr>

                        <td class="br-r br-b br-greyer">附件<i class="fa fa-search"></i></td>
                        <td colspan="6" class="br-b br-greyer">检验鉴定意见.pdf 检验鉴定意见.pdf</td>

                    </tr>
                    <tr>
                        <td colspan="9">案件信息</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-greyer">案（事）件名称</td>
                        <td colspan="7">罗以铜等人制造毒品案</td>
                    </tr>
                    <tr>

                        <td colspan="2" class="br-r br-greyer">现勘编号</td>
                        <td colspan="2" class="br-r br-greyer">XK2016123456</td>
                        <td class="br-r br-greyer">接警编号</td>
                        <td colspan="2" class="br-r br-greyer">JJ2016123456</td>
                        <td class="br-r br-greyer">案（事）件编号</td>
                        <td>A4453003300002015120003</td>
                    </tr>
                    <tr>

                        <td colspan="2" class="br-r br-greyer">案件性质</td>
                        <td colspan="2" class="br-r br-greyer">制造毒品案</td>
                        <td class="br-r br-greyer">案发时间</td>
                        <td colspan="2" class="br-r br-greyer">2016-05-01</td>
                        <td class="br-r br-b br-greyer">案件类型</td>
                        <td class="br-b br-greyer">刑事</td>
                    </tr>
                    <tr>

                        <td colspan="2" class="br-r br-greyer">紧急程度</td>
                        <td colspan="2" class="br-r br-b br-greyer">紧急</td>
                        <td class="br-r br-b br-greyer">案件归属</td>
                        <td colspan="2" class="br-r br-b br-greyer">刑侦</td>

                        <td colspan="2" class="br-b br-greyer"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-greyer">案发地点</td>
                        <td colspan="7" class="br-b br-greyer">广东省罗定市双东村委古榄74号</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="br-r br-b br-greyer">简要案情</td>
                        <td colspan="7" class="br-b br-greyer">
                            2015年12月14日，我支队在工作中发现，一花名叫“阿宝”的男子长期在罗定贩卖毒品冰毒，数量较大，情节严重。2016年3月14日，我局民警在广东省罗定市双东村委古榄74号抓获涉嫌制造毒品的犯罪嫌疑人罗以铜、梁柱新抓获，并缴获可疑毒品晶体2.82千克、液态77.97千克、糊状5.1千克及制毒工具烧杯、铁桶、搪瓷盘等一大批。
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">检材、样本信息</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="br-r br-greyer">1</td>
                        <td class="br-r br-greyer">自编号</td>
                        <td colspan="3" class="br-r br-b br-b br-greyer">001</td>
                        <td class="br-r br-b br-greyer">检材类型</td>
                        <td colspan="3" class="br-r br-b br-greyer">检材</td>

                    </tr>
                    <tr>

                        <td class="br-r br-greyer">鉴定要求</td>
                        <td colspan="7">鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求</td>


                    </tr>
                    <tr>

                        <td class="br-r br-greyer">名称</td>
                        <td colspan="3" class="br-r br-greyer">白色晶体</td>
                        <td class="br-r br-greyer">数量/单位</td>
                        <td colspan="3" class="br-r br-greyer">5.6克</td>

                    </tr>
                    <tr>

                        <td class="br-r br-greyer">提取时间</td>
                        <td class="br-r br-greyer">2016-05-01</td>
                        <td class="br-r br-greyer">提取人</td>
                        <td class="br-r br-greyer">卢怡君</td>
                        <td class="br-r br-greyer">提取部位</td>
                        <td class="br-r br-greyer">部位名称1</td>
                        <td class="br-r br-greyer">提取方法</td>
                        <td class="br-r br-greyer">方法1</td>
                    </tr>
                    <tr>

                        <td class="br-r br-greyer">性状/属性</td>
                        <td colspan="3" class="br-r br-b br-greyer">固态</td>
                        <td class="br-r br-b br-greyer">包装情况</td>
                        <td colspan="3" class="br-r br-b br-greyer">物证袋</td>

                    </tr>
                    <tr>

                        <td class="br-r br-greyer">描述</td>
                        <td colspan="7" class="br-b br-greyer">
                            描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描.
                        </td>


                    </tr>
                    <tr>

                        <td class="br-r br-greyer">附件</td>
                        <td colspan="7"></td>


                    </tr>
                    <tr>
                        <td rowspan="7" class="br-r br-greyer">2</td>
                        <td class="br-r br-b br-greyer">自编号</td>
                        <td colspan="3" class="br-r br-b br-greyer">002</td>
                        <td class="br-r br-b br-greyer">检材类型</td>
                        <td colspan="3" class="br-r br-b br-greyer">检材</td>

                    </tr>
                    <tr>

                        <td class="br-r br-greyer">鉴定要求</td>
                        <td colspan="7"></td>


                    </tr>
                    <tr>

                        <td class="br-r br-greyer">名称</td>
                        <td colspan="3" class="br-r br-greyer">淡黄色液体</td>
                        <td class="br-r br-greyer">数量/单位</td>
                        <td colspan="3" class="br-r br-greyer">26.6克</td>

                    </tr>
                    <tr>

                        <td class="br-r br-greyer">提取时间</td>
                        <td class="br-r br-greyer">2016-05-01</td>
                        <td class="br-r br-greyer">提取人</td>
                        <td class="br-r br-greyer">卢怡君</td>
                        <td class="br-r br-greyer">提取部位</td>
                        <td class="br-r br-greyer">部位名称1</td>
                        <td class="br-r br-greyer">提取方法</td>
                        <td class="br-r br-greyer">方法1</td>
                    </tr>
                    <tr>

                        <td class="br-r br-greyer">性状/属性</td>
                        <td colspan="3" class="br-r br-b br-greyer">液态</td>
                        <td class="br-r br-b br-greyer">包装情况</td>
                        <td colspan="3" class="br-r br-b br-greyer">试管</td>

                    </tr>
                    <tr>

                        <td class="br-r br-b br-greyer">描述</td>
                        <td colspan="7" class="br-b br-greyer">

                        </td>


                    </tr>
                    <tr>

                        <td class="br-r br-greyer">附件</td>
                        <td colspan="7"></td>


                    </tr>
                    </tbody>

                </table>
            </div>

            <div class="row p50">
                <ng-include src=" './templates/apps/approval/approval.form.html' "></ng-include>
            </div>

        </div>
    </div>

</div>
