

<div class="row mtn">
    <!-- Documentation Content -->
      
    	<div class="col-xs-12 center-col admin-form theme-primary">
	        <div class="panel">
	          
	          	<div class="panel-body">

	          		<div class="section-divider mv40">
		                <span>基本信息</span>
		            </div>

	          		<form class="form-horizontal">

			          	<div class="row mb20">
				          
				          	<span class="col-xs-3">受理编号：</span>
				        	
				            <span class="col-xs-3">44000000000D201605001</span>

				            <span class="col-xs-3">受理时间：</span>

				            <span class="col-xs-3">2016-5-3</span>
			          	</div>

			          	<div class="row mb20">
				          	
				          	<span class="col-xs-3">案（事）件名称：</span>

				          	<span class="col-xs-9">案件名称案件名称案件名称案件名称案件名称案件名称案件名称1</span>
				        	
			          	</div>

			          	<div class="row mb20">
				          	<span class="col-xs-3">专业：</span>
				        	
				            <span class="col-xs-3">鉴定专业1</span>

				            <span class="col-xs-3">鉴定类别：</span>

				            <span class="col-xs-3">鉴定类别1</span>
			          	</div>

			          	<div class="row mb20">
				          	
				          	<span class="col-xs-3">鉴定要求：</span>

				          	<span class="col-xs-9">鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求鉴定要求。</span>
				        	
			          	</div>

			          	<div class="row mb20">
				          	
				          	<span class="col-xs-3">委托单位：</span>

				          	<span class="col-xs-9">委托单位委托单位委托单位委托单位委托单位委托单位委托单位1</span>
				        	
			          	</div>

			          	<div class="row mb20">
				          
				          	<span class="col-xs-3 text-left">要求完成日期</span>
				        	
				            <span class="col-xs-3">2016-6-2</span>
			          	</div>

		          	</form>

		          	<div class="section-divider mv40">
		                <span>延期申请</span>
		            </div>

        			<ng-include src=" './templates/apps/doc_delay_apply/approval.form.html' ">
        				<input type="text" class="form-control input-sm">
        			</ng-include>


	          	</div>
	    	</div>

	    </div>
</div>
      
