<div class="admin-panels animated fadeIn">
    <div class="row">
        <div class="col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">专业工作量</span>
                </div>
                <div class="panel-body">
                    <div id="chart_profession_working" class="chart-con" style="height:400px;"></div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">日常工作效率</span>
                </div>
                <div class="panel-body">
                    <div id="chart_daily_effiency" class="chart-con" style="height:250px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">鉴定类别</span>
                </div>
                <div class="panel-body">
                    <div id="chart_identify_category" class="chart-con" style="height:300px;"></div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">文书拟稿成功率</span>
                </div>
                <div class="panel-body">
                    <div id="chart_doc_draft_success_rate" class="chart-con" style="height:350px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">工作延期情况</span>
                </div>
                <div class="panel-body">
                    <div id="chart_working_delay" class="chart-con" style="height:350px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>