<h1 class="sample-dna-title">亲属关系与目标特征</h1>

<div id="form_involved_relation">

	<div class="form-inline">
		<div class="form-group col-sm-3">
            <label for="">亲属关系：</label>
            <div class="input-wrapper">
                <div class="section">
                    <label class="field select mtn">
                        <select
                                class="form-control input-sm fl"
                                required
                                ng-disabled="addDNA.dcService.mode === 'edit'"
                                ng-model="addDNA.dcService.relativesRelationListItem.relationship"
                                ng-options="item.dictKey as item.dictValue1 for item in addDNA.dcService.dictData.RelationshipModel"
                                >
                            <option value="">请选择</option>
                        </select>
                        <i class="arrow"></i>
                    </label>
                </div>
            </div>
        </div>
	</div>
	
    <div class="form-inline">
        <div class="form-group col-sm-3">
            <label for="">类别：</label>
            <div class="input-wrapper">
                <div class="section">
                    <label class="field select mtn">
                        <select
                                class="form-control input-sm fl"
                                required
                                ng-model="addDNA.dcService.relativesRelationListItem.relativesFlag"
                                ng-options="item.dictKey as item.dictValue1 for item in addDNA.dcService.dictData.DnaPersonCateModel"
                                >
                            <option value="">请选择</option>
                        </select>
                        <i class="arrow"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="">被寻人姓名：</label>
            <div class="input-wrapper">
                <input
                        type="text"
                        class="gui-input"
                        placeholder=""
                        ng-model="addDNA.dcService.relativesRelationListItem.name"
                />
            </div>
        </div>
        <div class="form-group col-sm-3 form-icon-suffix pln">
            <label for="">被寻人出生日期：</label>
            <div class="input-wrapper">
                <input
                        readonly
                        type="text"
                        class="gui-input bs-datetimepicker"
                        placeholder=""
                        ng-model="addDNA.dcService.relativesRelationListItem.startBirthStr"
                        />
                <span class="fa fa-calendar form-control-icon"></span>
            </div>
            <div class="line-icon"></div>
        </div>
        <div class="form-group col-sm-3 form-icon-suffix ">
            <div class="input-wrapper mln">
                <input
                        readonly
                        type="text"
                        class="gui-input bs-datetimepicker"
                        placeholder=""
                        ng-model="addDNA.dcService.relativesRelationListItem.endBirthStr"
                        />
                <span class="fa fa-calendar form-control-icon"></span>
            </div>
        </div>
    </div>

    <div class="form-inline">
        <div class="form-group col-sm-3">
            <label for="">被寻人性别：</label>
            <div class="input-wrapper">
                <div class="section">
                    <label class="field select mtn">
                        <select
                                class="form-control input-sm fl"
                                ng-model="addDNA.dcService.relativesRelationListItem.sex"
                                ng-options="item.dictKey as item.dictValue1 for item in addDNA.dcService.dictData.SexModel"
                                >
                            <option value="">请选择</option>
                        </select>
                        <i class="arrow"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="">被寻人体标记：</label>
            <div class="input-wrapper">
                <input
                        type="text"
                        class="gui-input"
                        placeholder=""
                        ng-model="addDNA.dcService.relativesRelationListItem.targetSurfmark"
                />
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label for="">被寻人特殊特征：</label>
            <div class="input-wrapper">
                <input
                        type="text"
                        class="gui-input"
                        placeholder=""
                        ng-model="addDNA.dcService.relativesRelationListItem.targetCha"
                />
            </div>
        </div>
    </div>

</div>