<div class="panel popup-basic  panel-modal reappointed"
	ng-controller="reAppointedPersonController as reappointedPerson"
	>
    <div class="panel-heading">
                任务领取工作交接
    </div>
        <div class="panel-body p25 admin-form theme-primary" style="min-height: 160px" ng-cloak >
            <form name="handoverForm">
                <div class="section mb30 row">
                    <div class="col-xs-10 col-xs-offset-2">
                        <label class="mr20">转交工作职工：</label>
                        <label>{{reappointedPerson.submissionData.sjrName}}</label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-xs-10 col-xs-offset-2">
                        <label class="mt5 mr20">重新指定任务领取人：</label>
                        <label class="w100 select">
                            <select id="receiver"
                                    class="form-control input-sm"
                                    required
                                    ng-model="reappointedPerson.selectModel"
                                    >
                                <option value="">请选择</option>
                               <option ng-repeat="item in reappointedPerson.personModel" value="{{item.userId}}">{{item.name}}</option>
                            </select>
                            <i class="arrow"></i>
                        </label>

                    </div>
                </div>
            </form>
        </div>
    

    <div class="panel-footer text-center">
        <button type="button" 
                class="btn btn-sm btn-primary" 
                ng-disabled="handoverForm.$invalid"
                ng-click="reappointedPerson.save()"
        >保存</button>
        <button type="reset" class="btn btn-sm" ng-click="reappointedPerson.personClose()"> 关闭</button>
    </div>
</div>