<div
        class="entrust-form-container admin-form theme-primary"
        id="entrust_container"
>
    <ng-include src="'/templates/apps/accept/institution.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/entrust.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/case.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/member.html'"></ng-include>
    <ng-include src="'/templates/apps/entrust/evidence.html'"></ng-include>
    <!--<ng-include src="'/templates/apps/entrust/submit.html'"></ng-include>-->
</div>
<!--<approve-comp></approve-comp>-->
<submit-comp config-data="accept.configData"></submit-comp>
<ng-include src="'/templates/apps/entrust/sidebar.html'"></ng-include>
