<div class="entrust-form-container admin-form theme-primary">

    <div class="panel panel-default">

        <div class="panel-body">
            <div class="fs18 text-dark-darker fw600 pb20">鉴定机构信息</div>

            <div class="form-inline mb30">
                <div class="form-group col-sm-12 pln form-icon-suffix">
                    <label for="">鉴定机构：</label>
                    <div class="input-wrapper">
                        <p class="form-control-static">{{entrustDetail.dcService.submission.serverName}}</p>
                    </div>
                </div>
            </div>

            <div class="fs18 text-dark-darker fw600 pb20">委托信息</div>

            <div class="form-inline">
                <div class="form-group col-sm-5 pln form-icon-suffix">
                    <label for="">专业：</label>
                    <div class="input-wrapper">
                        <p class="form-control-static">{{entrustDetail.dcService.submission.sectionName}}</p>
                    </div>
                </div>

                <div class="form-group col-sm-7 prn">
                    <label for="">鉴定类别：</label>
                    <div class="input-wrapper">
                        <p class="form-control-static">{{entrustDetail.dcService.submission.identifyCategoryName}}</p>
                    </div>
                </div>
            </div>

            <div class="form-inline">
                <div class="form-group col-sm-5 pln form-icon-suffix">
                    <label for="">委托时间：</label>
                    <div class="input-wrapper">
                        <p class="form-control-static">{{entrustDetail.dcService.submission.submitDateStr}}</p>

                    </div>
                </div>

                <div class="form-group col-sm-7 prn">
                    <label>委托理由：</label>
                    <div class="input-wrapper">
                        <p class="form-control-static">{{entrustDetail.dcService.submission.submitReason}}</p>

                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <td class="title">委托单位</td>
                    <td>

                        <div class="form-inline">
                            <div class="form-group col-sm-12">
                                <label for="" class="short">名称：</label>
                                <div class="input-wrapper short">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.departmentDetailName}}</p>

                                </div>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="form-group col-sm-4">
                                <label for="" class="short">电话：</label>
                                <div class="input-wrapper short">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.departmentPhone}}</p>

                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="" class="short">传真：</label>
                                <div class="input-wrapper short">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.departmentFaxno}}</p>

                                </div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="" class="short">邮编：</label>
                                <div class="input-wrapper short">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.departmentPostno}}</p>

                                </div>
                            </div>
                        </div>

                        <div class="form-inline mbn">
                            <div class="form-group col-sm-12">
                                <label for="" class="short">地址：</label>
                                <div class="input-wrapper short">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.departmentAddress}}</p>

                                </div>
                            </div>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="title">送检人</td>
                    <td>

                        <div class="form-inline">
                            <div class="form-group col-sm-2">
                                <label for="" class="short">姓名：</label>
                                <div class="input-wrapper short">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.submittedBy}}</p>

                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="">联系方式：</label>
                                <div class="input-wrapper">
                                    <p class="form-control-static">{{entrustDetail.dcService.submission.contact}}</p>

                                </div>
                            </div>

                            <div class="form-group col-sm-2">
                                <label for="" class="short">职务：</label>
                                <div class="input-wrapper mln">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.positionName}}</p>

                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                <label for="" class="w125">证件类型/号码：</label>

                                    <div class="input-wrapper" style="margin-left:135px">
                                        <p class="form-control-static">
                                            {{entrustDetail.dcService.submission.credentialTypeName}} {{entrustDetail.dcService.submission.credentialNumber}}</p>

                                    </div>


                            </div>
                        </div>

                        <div class="form-inline mbn">
                            <div class="form-group col-sm-2">
                                <label for="" class="short">姓名：</label>
                                <div class="input-wrapper short">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.otherSubmittedBy}}</p>
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label for="">联系方式：</label>
                                <div class="input-wrapper">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.otherContact}}</p>

                                </div>
                            </div>

                            <div class="form-group col-sm-2">
                                <label for="" class="short">职务：</label>
                                <div class="input-wrapper mln">

                                    <div class="section ml50">

                                            <p class="form-control-static">
                                                {{entrustDetail.dcService.submission.otherPositionName}}</p>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-5">
                                <label for="" class="w125">证件类型/号码：</label>

                                    <div class="input-wrapper" style="margin-left:135px">
                                        <p class="form-control-static">
                                    {{entrustDetail.dcService.submission.otherCredentialTypeName}} {{entrustDetail.dcService.submission.otherCredentialNumber}}</p>

                                    </div>

                        </div>

                    </td>
                </tr>
            </table>

            <div class="form-inline">
                <div class="form-group col-sm-12 pln prn">
                    <label style="width:170px;">委托方对鉴定方法的要求：</label>
                    <div class="input-wrapper"
                         style="margin-left:170px;"
                         >
                        <p class="form-control-static">
                            {{entrustDetail.dcService.submission.methodRequest}}</p>

                    </div>

                </div>
            </div>

            <div class="form-inline">
                <div class="form-group col-sm-6 pln">
                    <label class="text-left" for="" style="width:130px;">鉴定文书发出形式：</label>
                    <div class="input-wrapper" style="margin-left:135px;">
                        <p class="form-control-static">
                            {{entrustDetail.dcService.submission.sendBookTypeName}}</p>

                    </div>
                </div>

                <div class="form-group col-sm-6 prn">
                    <label for="" style="width:130px;">剩余检材处理意见：</label>
                    <div class="input-wrapper" style="margin-left:135px;">
                        <p class="form-control-static">
                            {{entrustDetail.dcService.submission.surplusSampleOpinionName}}</p>
                    </div>
                </div>
            </div>
            <div class="form-inline">

                <span for="" style="width:130px;">原鉴定情况</span>
                <a href="" class="ml10 fs12" ui-toggle-class="hide" target="#orig_identity"
                   ng-click="entrustDetail.toggleOrigIdentityState()">
                    <span ng-if="!entrustDetail.showOrgIdentity">>显示</span>
                    <span ng-if="entrustDetail.showOrgIdentity">>隐藏</span>
                </a>
            </div>

            <table id="orig_identity" class="table" ng-hide="!entrustDetail.showOrgIdentity">
                <tr>
                    <td rowspan="3" class="title">原鉴定情况</td>
                    <td class="title">市</td>
                    <td>
                        <div class="form-inline">

                            <div class="col-sm-3">
                                <div class="section">

                                    <div class="option-group field">
                                        <label class="option option-primary"
                                               ng-repeat="item in entrustDetail.dcService.dictData.OldIdentifiedTypeModel">
                                            <input
                                                    type="radio"
                                                    name="cityIdentifiedType"
                                                    value="{{item.dictKey}}"
                                                    ng-model="entrustDetail.dcService.submission.cityIdentifiedType"
                                                    disabled
                                                    ng-checked="entrustDetail.dcService.submission.cityIdentifiedType === item.dictKey"
                                            />
                                            <span class="radio"></span>{{item.dictValue1}}

                                            <span ng-if="$index === 0">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </label>
                                    </div>
                                    <!-- end .option-group section -->
                                </div>
                            </div>

                            <div
                                    class="form-group col-sm-4"
                                    ng-if="entrustDetail.dcService.submission.cityIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                            >
                                <label for="" style="width:100px;">鉴定机构名称：</label>
                                <div class="input-wrapper" style="margin-left:105px;">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.cityIdentifiedServerName}}</p>

                                </div>
                            </div>

                            <div
                                    class="form-group col-sm-3 form-icon-suffix"
                                    ng-if="entrustDetail.dcService.submission.cityIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                            >
                                <label for="" style="width:100px;">检验鉴定时间：</label>
                                <div class="input-wrapper" style="margin-left:105px;">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.cityIdentifiedDateStr}}</p>

                                </div>
                            </div>

                        </div>

                        <div
                                class="form-group col-sm-12 mbn"
                                ng-if="entrustDetail.dcService.submission.cityIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                        >
                            <div class="section">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.cityOriconClusion}}</p>
                            </div>
                        </div>

                        <file-slide-comp
                                flag="1"
                                readonly="true"
                                ng-hide="entrustDetail.dcService.submission.cityIdentifiedType !== entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                        ></file-slide-comp>
                    </td>
                </tr>
                <tr>
                    <td class="title">县</td>
                    <td>
                        <div class="form-inline">
                            <div class="col-sm-3">
                                <div class="section">

                                    <div class="option-group field">
                                        <label class="option option-primary"
                                               ng-repeat="item in entrustDetail.dcService.dictData.OldIdentifiedTypeModel">
                                            <input
                                                    type="radio"
                                                    name="countyIdentifiedType"
                                                    value="{{item.dictKey}}"
                                                    ng-model="entrustDetail.dcService.submission.countyIdentifiedType"
                                                    disabled
                                                    ng-checked="entrustDetail.dcService.submission.countyIdentifiedType === item.dictKey"
                                            />
                                            <span class="radio"></span>{{item.dictValue1}}
                                            <span ng-if="$index === 0">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </label>

                                    </div>
                                    <!-- end .option-group section -->
                                </div>
                            </div>

                            <div
                                    class="form-group col-sm-4"
                                    ng-if="entrustDetail.dcService.submission.countyIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                            >
                                <label for="" style="width:100px;">鉴定机构名称：</label>
                                <div class="input-wrapper" style="margin-left:105px;">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.countyIdentifiedServerName}}</p>

                                </div>
                            </div>

                            <div
                                    class="form-group col-sm-3 form-icon-suffix"
                                    ng-if="entrustDetail.dcService.submission.countyIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                            >
                                <label for="" style="width:100px;">检验鉴定时间：</label>
                                <div class="input-wrapper" style="margin-left:105px;">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.countyIdentifiedDateStr}}</p>

                                </div>
                            </div>

                        </div>

                        <div
                                class="form-group col-sm-12 mbn"
                                ng-if="entrustDetail.dcService.submission.countyIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                        >
                            <div class="section">
                                <p class="form-control-static">
                                    {{entrustDetail.dcService.submission.countyOriconClusion}}</p>

                            </div>
                        </div>

                        <file-slide-comp
                                flag="2"
                                readonly="true"
                                ng-hide="entrustDetail.dcService.submission.countyIdentifiedType !== entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                        ></file-slide-comp>
                    </td>
                </tr>
                <tr>
                    <td class="title">其他</td>
                    <td>
                        <div class="form-inline">
                            <div class="col-sm-3">
                                <div class="section">

                                    <div class="option-group field">
                                        <label class="option option-primary"
                                               ng-repeat="item in entrustDetail.dcService.dictData.OldIdentifiedTypeModel">
                                            <input
                                                    type="radio"
                                                    name="otherIdentifiedType"
                                                    value="{{item.dictKey}}"
                                                    ng-model="entrustDetail.dcService.submission.otherIdentifiedType"
                                                    disabled
                                                    ng-checked="entrustDetail.dcService.submission.otherIdentifiedType === item.dictKey"
                                            />
                                            <span class="radio"></span>{{item.dictValue1}}
                                            <span ng-if="$index === 0">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        </label>

                                    </div>
                                    <!-- end .option-group section -->
                                </div>
                            </div>

                            <div
                                    class="form-group col-sm-4"
                                    ng-if="entrustDetail.dcService.submission.otherIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                            >
                                <label for="" style="width:100px;">鉴定机构名称：</label>
                                <div class="input-wrapper" style="margin-left:105px;">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.otherIdentifiedServerName}}</p>

                                </div>
                            </div>

                            <div
                                    class="form-group col-sm-3 form-icon-suffix"
                                    ng-if="entrustDetail.dcService.submission.otherIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                            >
                                <label for="" style="width:100px;">检验鉴定时间：</label>
                                <div class="input-wrapper" style="margin-left:105px;">
                                    <p class="form-control-static">
                                        {{entrustDetail.dcService.submission.otherIdentifiedDateStr}}</p>

                                </div>
                            </div>

                        </div>

                        <div
                                class="form-group col-sm-12 mbn"
                                ng-if="entrustDetail.dcService.submission.otherIdentifiedType === entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                        >
                            <div class="section">
                                <p class="form-control-static">
                                    {{entrustDetail.dcService.submission.otherOriconClusion}}</p>

                            </div>
                        </div>

                        <file-slide-comp
                                flag="3"
                                readonly="true"
                                ng-hide="entrustDetail.dcService.submission.otherIdentifiedType !== entrustDetail.dcService.dictData.OldIdentifiedTypeModel[1].dictKey"
                        ></file-slide-comp>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>