<div class="form-content">
    <!-- 审批结果:-->
    <div class="form-group">
        <label class="col-sm-2 control-label">审批结果：</label>
        <div class="col-sm-10">
            <div class="option-group field">
                <label class="option option-primary fl" style="min-width: 16.66666667%">
                    <input type="radio"
                           name="result"
                           value="1"
                           ng-model="submitComp.configData.resultValue"
                           ng-change="submitComp.configData.fetchApproveTpl(submitComp.configData.resultValue)"
                            />
                    <span class="radio"></span>审批通过
                </label>
                <label class="option option-primary" style="min-width: 16.66666667%">
                    <input type="radio"
                           name="result"
                           value="2"
                           ng-model="submitComp.configData.resultValue"
                           ng-change="submitComp.configData.fetchApproveTpl(submitComp.configData.resultValue)"
                            />
                    <span class="radio"></span>审批不通过
                </label>
            </div>
        </div>
    </div>
    <!--审批意见:-->
    <div class="form-group approve-suggestion-tpl mb5">
        <label class="col-sm-2 control-label">审批意见：</label>
        <div class="col-sm-10">
            <ul class="tplScroller">
                <li class="text-left tooltipster"
                    ng-class="{true:'active'}[submitComp.configData.tplIndex === $index]"
                    ng-repeat="item in submitComp.configData.tplData"
                    ng-click="submitComp.chooseTpl($index, item.content)"
                    title="{{item.content}}">
                    {{item.content}}
                </li>
            </ul>
            <textarea name="opinion"
                    ng-model="submitComp.configData.formData.opinion"
                      ng-required="submitComp.configData.exaOpinionWriteRule == 1 || (submitComp.configData.exaOpinionWriteRule == 2 && submitComp.configData.resultValue == 2)"
                      maxlength="100">
            </textarea>
        </div>
    </div>
    <!--if 主任审核人]-->
    <div class="form-group" ng-if="submitComp.configData.resultMapping.auditor">
        <label class="col-sm-2 control-label">{{submitComp.configData.resultMapping.auditor}}</label>
        <div class="col-sm-4">
            <div class="input-wrapper" >
                <label class="select">
                    <select class="form-control input-sm fl text-center"
                            ng-model="submitComp.configData.formData.auditor"
                            name="auditor"
                            required>
                        <option value="">请选择</option>
                        <option ng-repeat="item in submitComp.configData.reviewModel" value="{{item.userId}}">
                            {{item.name}}
                        </option>
                    </select>
                    <i class="arrow"></i>
                </label>
            </div>
        </div>
    </div>
</div>

