 <section class="ui-basic-info">
     <section>
         <div class="section-divider mv40">
             <span>{{review.dictionary.title}}</span>
         </div>

         <dl>
             <div class="row mb20">
                 <div class="col-xs-5 col-xs-offset-1">
                     <dt >{{review.dictionary.codeName}}编号：</dt>
                     <dd >{{review.reviewData.extralInfo.code}}</dd>
                 </div>
                 <div class="col-xs-6">
                     <dt >类型：</dt>
                     <dd >{{review.reviewData.basicInfo.actionCodeName}}</dd>
                 </div>
             </div>

             <div class="row mb20">
                 <div class="col-xs-11 col-xs-offset-1">
                     <dt>{{review.dictionary.reason}}：</dt>
                     <dd class="mw600">{{review.reviewData.extralInfo.reason}}</dd>
                 </div>
             </div>

             <div class="row mb20" ng-if="review.type==0">
                 <div class="col-xs-5 col-xs-offset-1">
                     <dt >{{review.dictionary.dateCount}}：</dt>
                     <dd >{{review.reviewData.extralInfo.days}}</dd>
                 </div>
                 <div class="col-xs-5">
                     <dt >{{review.dictionary.finishedDate}}：</dt>
                     <dd >{{review.reviewData.extralInfo.completeDate |  date:'yyyy-MM-dd'}}</dd>
                 </div>
             </div>

             <div class="row mb20">
                 <div class="col-xs-5 col-xs-offset-1">
                     <dt >{{review.dictionary.person}}：</dt>
                     <dd >{{review.reviewData.extralInfo.proposerName}}</dd>
                 </div>
                 <div class="col-xs-6">
                     <dt >{{review.dictionary.date}}：</dt>
                     <dd >{{review.reviewData.extralInfo.proposeDate |  date:'yyyy-MM-dd'}}</dd>
                 </div>
             </div>
         </dl>
     </section>
     <section ng-if="!review.showSection">
         <div class="section-divider mv40">
             <span>科长审核</span>
         </div>

         <dl>
             <div class="row mb20">
                 <div class="col-xs-11 col-xs-offset-1">
                     <dt>审核意见：</dt>
                     <dd class="mw600">{{review.reviewData.extralInfo.kzspOpinion}}</dd>
                 </div>
             </div>

             <div class="row mb20">
                 <div class="col-xs-5 col-xs-offset-1">
                     <dt >审核人：</dt>
                     <dd >{{review.reviewData.extralInfo.kzsprName}}</dd>
                 </div>
                 <div class="col-xs-6">
                     <dt >审核时间：</dt>
                     <dd >{{review.reviewData.extralInfo.kzspsj |  date:'yyyy-MM-dd'}}</dd>
                 </div>
             </div>


         </dl>
     </section>

</section>