<ul class="list-unstyled" ng-cloak>
    <li><label class="text-dark-darker">委托单位：</label>{{preaccept.submissionData.departmentDetailName}}</li>
    <li><label class="text-dark-darker">鉴定机构：</label>{{preaccept.submissionData.serverName}}</li>
    <li><label>案（事）件名称：</label>{{preaccept.submissionData.caseName}}</li>
    <li><label>专业：</label>{{preaccept.submissionData.sectionName}}</li>
    <li><label>鉴定类别：</label>{{preaccept.submissionData.identifyCategoryName}}</li>
    <li><label>送检材料：</label>检材{{preaccept.approveDetailData.sampleCount}}项，样本{{preaccept.approveDetailData.exampleCount}}项, 被鉴定人{{preaccept.approveDetailData.memberCount}}项</li>
    <li class="mt20">
        <label>确认提交吗？</label>
    </li>
</ul>