<div class="form-content">
      <!--是否认可项目 -->
    <div class="form-group" ng-if="submitComp.configData.isShowCnas">
        <label class="col-sm-2 control-label">是否认可项目：</label>
        <div class="col-sm-10">
            <div class="option-group field">
                <label class="option option-primary col-sm-2">
                    <input type="radio"
                           name="cnas"
                           value="1"
                           ng-model="submitComp.configData.formData.cnasFlag"/>
                    <span class="radio"></span>是
                </label>
                <label class="option option-primary col-sm-2">
                    <input type="radio"
                           name="cnas"
                           value="2"
                           ng-model="submitComp.configData.formData.cnasFlag"/>
                    <span class="radio"></span>否
                </label>
            </div>
        </div>
    </div>
    <!--是否认定项目 -->
    <div class="form-group" ng-if="submitComp.configData.isShowCma">
        <label class="col-sm-2 control-label">是否认定项目：</label>
        <div class="col-sm-10">
            <div class="option-group field">
                <label class="option option-primary col-sm-2">
                    <input type="radio"
                           name="cma"
                           value="1"
                           ng-model="submitComp.configData.formData.cmaFlag"/>
                    <span class="radio"></span>是
                </label>
                <label class="option option-primary col-sm-2">
                    <input type="radio"
                           name="cma"
                           value="2"
                           ng-model="submitComp.configData.formData.cmaFlag"/>
                    <span class="radio"></span>否
                </label>
            </div>
        </div>
    </div>
    <!-- 结果:-->
    <div class="form-group">
        <label class="col-sm-2 control-label">审批结果：</label>
        <div class="col-sm-10">
            <div class="option-group field">
                <label class="option option-primary fl" style="min-width: 16.66666667%">
                    <input type="radio"
                           name="result"
                           value="1"
                           ng-model="submitComp.configData.resultValue"
                           ng-change="submitComp.configData.fetchApproveTpl(submitComp.configData.resultValue)"
                            />
                    <span class="radio"></span>通过
                </label>
                <label class="option option-primary" style="min-width: 16.66666667%">
                    <input type="radio"
                           name="result"
                           value="2"
                           ng-model="submitComp.configData.resultValue"
                           ng-change="submitComp.configData.fetchApproveTpl(submitComp.configData.resultValue)"
                            />
                    <span class="radio"></span>退回
                </label>
            </div>
        </div>
    </div>
    <!-- 意见:-->
    <div class="form-group approve-suggestion-tpl mb5">
        <label class="col-sm-2 control-label">审批意见：</label>
        <div class="col-sm-10">
            <ul class="tplScroller">
                <li class="text-left tooltipster"
                    ng-class="{true:'active'}[submitComp.configData.tplIndex === $index]"
                    ng-repeat="item in submitComp.configData.tplData"
                    ng-click="submitComp.chooseTpl($index, item.content)"
                    title="{{item.content}}">
                    {{item.content}}
                </li>
            </ul>
                <textarea name="opinion"
                          ng-model="submitComp.configData.formData.opinion"
                          ng-required="submitComp.configData.exaOpinionWriteRule == 1 || (submitComp.configData.exaOpinionWriteRule == 2 && submitComp.configData.resultValue == 2)"
                          maxlength="100">
                </textarea>
        </div>
    </div>
    <!--if 是否领导审批-->
    <div class="form-group" ng-if="submitComp.configData.leaderApprove && submitComp.configData.resultValue == '1'">
        <label class="col-sm-2 control-label">是否领导审批：</label>
        <div class="col-sm-10">
            <div class="option-group field">
                <label class="option option-primary">
                    <input type="radio"
                           name="leader"
                           value="1"
                           ng-model="submitComp.configData.leaderApprove"/>
                    <span class="radio"></span>是
                </label>
                <div class="input-wrapper"
                     style="width: 130px;display: inline-block"
                     ng-if="submitComp.configData.leaderApprove == '1'">
                    <label class="select">
                        <select class="form-control input-sm fl text-center"
                                name="leaderPerson"
                                ng-model="submitComp.configData.leaderPerson"
                                required>
                            <option value="">请选择</option>
                            <option ng-repeat="item in submitComp.configData.leaderPersonnelData"
                                    value="{{item.userId}}">
                                {{item.name}}
                            </option>
                        </select>
                        <i class="arrow"></i>
                    </label>
                </div>
                <label class="option option-primary" style="margin-left: 55px">
                    <input type="radio"
                           name="leader"
                           value="2"
                           ng-model="submitComp.configData.leaderApprove"/>
                    <span class="radio"></span>否
                </label>
            </div>
        </div>
    </div>
</div>

