
<div class="theme-primary business-review">

    <div class="panel mtn">
        <div class="panel-heading">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left ">
                <li class="active">
                    <a herf="javascript:;" class="ph50 fs16" data-toggle="tab">{{businessAction.pageTitle}}</a>
                </li>
            </ul>
        </div>

        <div class="panel-body bg-dark admin-form theme-primary">
            <div class="mainContent bg-light">
                <!--基本信息-->
                <review-comp type="-1" review-data="businessAction.reviewData.basicInfo"></review-comp>
            </div>
            <!--<approve-comp ></approve-comp>-->
            <submit-comp config-data="businessAction.configData"></submit-comp>
        </div>

    </div>  <!--endof panel-->
</div>



