#main_content {
    margin-left:270px;
    margin-right:20px;
    padding:20px 0;
}

#content_wrapper {
    margin-top:60px;
}

.fl {
    float:left;
}

.tr {
    text-align:right;
}
.tc {
    text-align:center;
}