

<div class="row mtn">
    <!-- Documentation Content -->
      
    	<div class="col-xs-12 center-col admin-form theme-primary">
	        <div class="panel">
	          
	          	<div class="panel-body">

	          		<div class="section-divider mv40">
		                <span>基本信息</span>
		            </div>

	          		<form class="form-horizontal">

			          	<div class="row mb20">
				          
				          	<span class="col-xs-3">受理编号：</span>
				        	
				            <span class="col-xs-3">44000000000D201605001</span>
			          	</div>

			          	<div class="row mb20">
				          	
				          	<span class="col-xs-3">案（事）件名称：</span>

				          	<span class="col-xs-9">案件名称案件名称案件名称案件名称案件名称案件名称案件名称1</span>
				        	
			          	</div>

			          	<div class="row mb20">
				          	
				          	<span class="col-xs-3">委托单位：</span>

				          	<span class="col-xs-9">委托单位委托单位委托单位委托单位委托单位委托单位委托单位1</span>
				        	
			          	</div>

		          	</form>

		          	<div class="section-divider mv40">
		                <span>终止申请</span>
		            </div>

        			<ng-include src=" './templates/apps/doc_stop_apply/approval.form.html' ">
        				<input type="text" class="form-control input-sm">
        			</ng-include>


	          	</div>
	    	</div>

	    </div>
</div>
      
